@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200;1,900&family=Righteous&display=swap');

:root {
  --azul: rgb(0, 46, 214);
  --azul-claro: rgba(83, 193, 255, 1);
  --branco: rgba(255, 255, 255, 1);

}